# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/terraform.tfvars
**/*.auto.tfvars
**/plan.bin
**/plan.txt
**/_web_dist/

# OS / editor
.DS_Store
*.swp
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Don't commit the original assignment PDF
devops_assignment.pdf
