{
  email admin@__DOMAIN__
}

__DOMAIN__ {
  encode gzip

  log {
    output stdout
    format console
    level INFO
  }

  handle_path /api/* {
    reverse_proxy {
__UPSTREAMS_BLOCK__
    }
    header {
      Cache-Control "no-store"
    }
  }

  handle {
    root * /srv/web
    try_files {path} /index.html
    file_server
  }
}
